stages:
  - build
  - update_helm_chart

variables:
  APP_NAME: login_demo
  IMAGE_TAG: registry.gitlab.com/sr2623035/wordlife/$APP_NAME:$CI_COMMIT_SHORT_SHA

build_image:
  image: docker:latest
  stage: build
  services:
    - docker:dind
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$IMAGE_TAG" .
    - docker push "$IMAGE_TAG"

update_helm_chart:
  stage: update_helm_chart
  image: ubuntu:24.04
  script:
    - apt-get update && apt-get install -y git
    - git config --global user.email "gitlab-ci@gitlab.com"
    - git config --global user.name "GitLab CI"
    - git clone https://oauth2:${GITLAB_ACCESS_TOKEN}@gitlab.com/sr2623035/Wordlife_manifest.git
    - cd Wordlife_manifest
    - sed -i "s|login_demo:.*|login_demo:${CI_COMMIT_SHORT_SHA}|g" loginapp/values.yaml
    - git add loginapp/values.yaml
    - git commit -m "Update Image to ${CI_COMMIT_SHORT_SHA}" || echo "No changes to commit"
    - git push https://oauth2:${GITLAB_ACCESS_TOKEN}@gitlab.com/sr2623035/Wordlife_manifest.git HEAD:main
  only:
    - main
